.Wallet_Table_OrderAndBooking {
    max-height: 500px;
    overflow-y: auto;
    display: block;
    box-shadow: 0px -6px 4px -2px rgba(0, 0, 0, 0.25) inset;
}

.Wallet_Table_OrderAndBooking::-webkit-scrollbar {
    width: 5px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    visibility: hidden;
}

.Wallet_Table_OrderAndBooking::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    visibility: hidden;
    background: rgb(255, 255, 255);
}

.Wallet_Table_OrderAndBooking:hover::-webkit-scrollbar {
    visibility: visible;
}

.Wallet_Table_OrderAndBooking:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}