<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="images/TardgoLogo.png" rel="icon" />
    <title>Cashback & Offerrs</title>
    <meta name="description" content="Report History">

    <!-- Web Fonts
============================================= -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Stylesheet
============================================= -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/owl.carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="css/extra.css" />

    <!-- script
============================================= -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="js/theme.js"></script>
    <!-- <script src="js/extra.js"></script> -->
    <script src="js/RateReview.js"></script>
    <script src="vendor/bootstrap/js/getbootstrap.min.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>

</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <span class="ring">
            <span></span>
            <img src="images/TardgoLogo.png" alt="TardgoLogo">
        </span>
    </div>
    <!-- Preloader End -->

    <!-- Document Wrapper   
============================================= -->
    <div id="main-wrapper">

        <!-- Header
  ============================================= -->
        <header id="header"></header>
        <!-- Header end -->

        <div class="mt-4"></div>

        <!-- Content
============================================= -->
        <div id="content">
            <div class="container">
                <div class="bg-white shadow-md rounded p-4">

                </div>
            </div>
            <!-- Content end -->

            <!-- Footer
      ============================================= -->
            <footer id="footer"></footer>
            <!-- Footer end -->

        </div>
        <!-- Document Wrapper end -->



        <!-- Notification_Div
============================================= -->
        <div class="offcanvas offcanvas-end" id="notification_Div">
            <div class="offcanvas-header">
                <h4 class="offcanvas-title">Notification</h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row mb-2 mx-3 border rounded-7" style="box-shadow: -5px 5px 2px 0px rgba(0, 0, 0, 0.25);">
                    <div class="d-flex align-items-center rounded-7">
                        <div class=" rounded-7">
                            <img src="images/TardgoLogo.png" alt="TardgoLogo" width="50px">
                        </div>
                        <div class=" rounded-7 mx-2 p-2">
                            <div class="text-4 fw-500">Message By Ajay Makwana</div>
                            <div class="text-3">Hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae,
                                repellendus?
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, qui!</div>
                        </div>
                        <div class=" rounded-7">09-Jan-2024; 13:59:34</div>
                    </div>
                </div>
                <div class="row mb-2 mx-3 border rounded-7" style="box-shadow: -5px 5px 2px 0px rgba(0, 0, 0, 0.25);">
                    <div class="d-flex align-items-center rounded-7">
                        <div class=" rounded-7">
                            <img src="images/TardgoLogo.png" alt="TardgoLogo" width="50px">
                        </div>
                        <div class=" rounded-7 mx-2 p-2">
                            <div class="text-4 fw-500">Message By Ajay Makwana</div>
                            <div class="text-3">Hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae,
                                repellendus?
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, qui!</div>
                        </div>
                        <div class=" rounded-7">09-Jan-2024; 13:59:34</div>
                    </div>
                </div>
                <div class="row mb-2 mx-3 border rounded-7" style="box-shadow: -5px 5px 2px 0px rgba(0, 0, 0, 0.25);">
                    <div class="d-flex align-items-center rounded-7">
                        <div class=" rounded-7">
                            <img src="images/TardgoLogo.png" alt="TardgoLogo" width="50px">
                        </div>
                        <div class=" rounded-7 mx-2 p-2">
                            <div class="text-4 fw-500">Message By Ajay Makwana</div>
                            <div class="text-3">Hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae,
                                repellendus?
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, qui!</div>
                        </div>
                        <div class=" rounded-7">09-Jan-2024; 13:59:34</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Notification_Div end -->

        <!-- supportAgent_Div
============================================= -->
        <div class="offcanvas offcanvas-end" id="supportAgent_Div">
            <div class="offcanvas-header">
                <h4 class="offcanvas-title">Support Agent</h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row">
                    <!-- <div class="col-sm-12 col-lg-5"> -->
                    <div class="col-lg-12">
                        <div class="d-flex flex-column align-items-center justify-content-center mb-2">
                            <img class="mb-3" src="images/supportAgent/headset.svg" alt="TardgoLogo" width="75px">
                            <div class="text-3 fw-500">How can we help you?</div>
                        </div>
                        <a href="tel:9861468509">
                            <div class="row mb-2 mx-3 rounded-7 border-2 alert alert-info position-relative">
                                <div class="d-flex align-items-center rounded-7">
                                    <div class="rounded-7">
                                        <img src="images/supportAgent/support_agent.svg" alt="TardgoLogo" width="22px">
                                    </div>
                                    <div class="rounded-7 mx-2 p-2">
                                        <div class="text-3">Call Support</div>
                                        <!-- <div class="text-3">Description and instructions for Call Support...</div> -->
                                    </div>
                                    <div class="rounded-7 position-absolute end-0 me-3"> > </div>
                                </div>
                            </div>
                        </a>
                        <a href="https://api.whatsapp.com/send?phone=9861468509" target="_blank">
                            <div class="row mb-2 mx-3 rounded-7 border-2 alert alert-success position-relative">
                                <div class="d-flex align-items-center rounded-7">
                                    <div class=" rounded-7">
                                        <img src="images/supportAgent/whats_app.svg" alt="TardgoLogo" width="22px">
                                    </div>
                                    <div class="rounded-7 mx-2 p-2">
                                        <div class="text-3">WhatsApp Support</div>
                                        <!-- <div class="text-3">WhatsApp support: In-app help for account, technical issues, and queries.</div> -->
                                    </div>
                                    <div class="rounded-7 position-absolute end-0 me-3"> > </div>
                                </div>
                            </div>
                        </a>
                        <div class="row mb-2 mx-3 rounded-7 border-2 alert alert-primary position-relative">
                            <a data-bs-toggle="collapse" href="#Recharge_Bill_Payment_Issue">
                                <div class="d-flex align-items-center rounded-7">
                                    <div class=" rounded-7">
                                        <img src="images/supportAgent/customer_service.svg" alt="TardgoLogo"
                                            width="22px">
                                    </div>
                                    <div class=" rounded-7 mx-2 p-2">
                                        <div class="text-3">Recharge Bill Payment Issue</div>
                                    </div>
                                    <div class="rounded-7 position-absolute end-0 me-3"> > </div>
                                </div>
                            </a>
                        </div>
                        <div id="Recharge_Bill_Payment_Issue" class="collapse rounded-7 mx-3 bg-white"
                            style="border: 2px solid #B6D4FE;" data-bs-parent="#accordion">
                            <div class="card-body">
                                <div class="rounded p-lg-6 text-4 fw-500">
                                    <div class="row p-3">
                                        <div class="mb-3 px-0">
                                            <select class="form-select rounded-7" placeholder="Select Operator"
                                                required="">
                                                <!-- <select id="select-state" class="rounded-7" required=""> -->
                                                <!-- <option disabled>Select Operator</option> -->
                                                <option>Broadband</option>
                                                <option>CableTV</option>
                                                <option>ClubsAndAssociations</option>
                                                <option>CreditCard</option>
                                                <option>DTH</option>
                                                <option>DMT</option>
                                                <option>EducationFees</option>
                                                <option>Electricity</option>
                                                <option>Gas</option>
                                                <option>GooglePlay</option>
                                                <option>HospitalAndPathology</option>
                                                <option>HousingSociety</option>
                                                <option>Insurance</option>
                                                <option>Landline</option>
                                                <option>LoanRepayment</option>
                                                <option>Mobile</option>
                                                <option>MunicipalServices</option>
                                                <option>MunicipalTax</option>
                                                <option>PipedGas</option>
                                                <option>Postpaid</option>
                                                <option>SubscriptionFees</option>
                                                <option>Water</option>
                                            </select>
                                        </div>
                                        <div class="form__div mb-3">
                                            <input type="text" class="form__input" style="border: 2px solid #B6D4FE;"
                                                placeholder="Number (Required)*">
                                            <label class="form__label">Number (Required)*</label>
                                        </div>
                                        <div class="row mx-0 px-0">
                                            <a class="btn btn-primary" data-bs-toggle="collapse"
                                                href="#Recharge_Bill_Payment_Issue" class="view-plans-link">Continue</a>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                    <div class="col-sm text-dark">BSNL Mobile Postpaid</div>
                    <div class="col-sm text-sm-end text-success">0.2%</div>
                  </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-7 CallSupportImage">
          <img src="images/supportAgent/CallSupportImage.svg" alt="Call Support" class="my-auto"
            style="width: 100%; max-height: 400px;">
        </div> -->
            </div>

        </div>
        <!-- supportAgent_Div end -->













        <!-- Logout Check Modal
=========================== -->
        <div id="logout_check_modal" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                    <div class="modal-body py-4 px-0">
                        <!-- Logout Check Form
    ====================== -->
                        <div class="row">
                            <div class="col-10 col-md-10 mx-auto">
                                <br>
                                <div class="d-flex justify-content-center">
                                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M58 82L9.5 90L9.5 10.5L58 18L58 82Z" fill="#8FD2EC" />
                                        <path
                                            d="M75.0001 70.8335L91.6667 50.0002M91.6667 50.0002C91.6667 50.0002 81.5088 37.3028 75.0001 29.1668M91.6667 50.0002L37.0002 50.0002"
                                            stroke="#1B1464" stroke-width="7" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M58.3333 66.1168V79.9447C58.3333 81.563 58.3333 82.3722 57.8593 82.9317C57.3853 83.4912 56.5872 83.6242 54.9908 83.8902L15.3196 90.5021C12.0766 91.0426 10.455 91.3129 9.39413 90.4142C8.33325 89.5155 8.33325 87.8716 8.33325 84.5837L8.33325 15.4159C8.33325 12.1281 8.33325 10.4842 9.39413 9.58549C10.455 8.6868 12.0766 8.95705 15.3196 9.49757L54.9908 16.1094C56.5872 16.3755 57.3853 16.5085 57.8593 17.068C58.3333 17.6275 58.3333 18.4367 58.3333 20.055V33.0583"
                                            stroke="#1B1464" stroke-width="7" stroke-linecap="round" />
                                    </svg>
                                </div>
                                <br>
                                <p class="text-4 fw-400 text-dark text-center mb-4">Oh no! You're leaving... <br> Are
                                    you sure?</p>
                                <div class="d-grid my-4" data-bs-dismiss="modal">
                                    <button class="btn btn-secondary" type="submit" style="width: 100%;">Just
                                        Kidding</button>
                                </div>
                                <a href="index-2.html">
                                    <div class="d-grid my-4" data-bs-dismiss="modal">
                                        <button class="btn bg-white border border-primary text-primary" type="submit"
                                            style="width: 100%;">Yes
                                            Log Me Out</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Logout Check Form End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Logout Check Modal End -->

        <!-- Add Money Modal
============================== -->
        <div id="Add_Money_modal" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                    <div class="modal-body py-4 px-0">
                        <button type="button" class="btn-close position-absolute top-0 end-0 mt-1 me-1 mt-sm-2 me-sm-2"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                        <!-- Add Money Form
    =========================== -->
                        <div class="row">
                            <div class="col-11 col-md-10 mx-auto">
                                <h4 class="text-center mt-3 mb-4">Add Money to Wallet</h4>
                                <h3 class="text-center">₹</h3>
                                <div class="text-center">
                                    <input class="text-center mb-2"
                                        style="width: 100%; border: none; outline: none; font-size: 50px;" type="tel"
                                        placeholder="0" />
                                    <h6 style="color: #67727C;">Minimum: ₹10; Maximum: ₹50000</h6>
                                    <h5 class="mb-5">Select an option to pay</h5>
                                    <div class="d-flex align-items-center text-lg-start">
                                        <div style="margin-right: 25px;">
                                            <input style="scale:1.5;" type="radio" placeholder="UPI App">
                                        </div>
                                        <div>
                                            <h5>UPI App</h5>
                                            <h6 class="text-primary">Payment using selected UPI App</h6>
                                        </div>
                                    </div>
                                    <div class="d-grid my-4">
                                        <button class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#AddMoney_TransactionSuccess">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Money Form End -->
                    </div>
                </div>
            </div>
        </div>

        <div id="AddMoney_TransactionFail" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                    <div class="modal-body mx-3">
                        <div class="modal-header">
                            <h4 class="modal-title">Responce Massage</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="row mt-4">
                            <svg width="50" height="50" viewBox="0 0 100 100" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M77.0833 10.4165H85.4166C88.8684 10.4165 91.6666 13.2147 91.6666 16.6665V54.1665C91.6666 57.6183 88.8684 60.4165 85.4166 60.4165H77.0833V10.4165Z"
                                    fill="#E22425" />
                                <path
                                    d="M22.9167 10.4165C20.6155 10.4165 18.75 12.282 18.75 14.5832V52.0832C18.75 57.8361 23.4137 62.4998 29.1667 62.4998H46.25L42.7704 74.0985C41.449 78.5031 42.6527 83.2776 45.9044 86.5292L49.2597 89.8845C50.1844 90.8092 51.7224 90.6633 52.4567 89.5812L69.3956 64.6186C70.3325 63.2379 70.8333 61.6079 70.8333 59.9394V14.5832C70.8333 12.282 68.9679 10.4165 66.6667 10.4165H22.9167Z"
                                    fill="#E22425" />
                                <path
                                    d="M10.4167 35.4167C10.4167 29.6637 15.0804 25 20.8334 25H35.4167C41.1697 25 45.8334 29.6637 45.8334 35.4167C45.8334 41.1696 41.1697 45.8333 35.4167 45.8333H20.8334C15.0804 45.8333 10.4167 41.1696 10.4167 35.4167Z"
                                    fill="#E22425" />
                                <path
                                    d="M8.33325 52.0832C8.33325 46.3302 12.997 41.6665 18.7499 41.6665H37.4999C43.2529 41.6665 47.9166 46.3302 47.9166 52.0832C47.9166 57.8361 43.2529 62.4998 37.4999 62.4998H18.7499C12.997 62.4998 8.33325 57.8361 8.33325 52.0832Z"
                                    fill="#E22425" />
                            </svg>
                            <p class="col-sm text-danger text-center text-8 mb-0 mb-sm-3">Fail</p>
                        </div>
                        <div class="row">
                            <p class="col-sm text-muted mb-0 mb-sm-3">Transaction Amount:</p>
                            <p class="col-sm text-sm-end fw-500">155.00</p>
                        </div>
                        <div class="row">
                            <p class="col-sm text-muted mb-0 mb-sm-3">Transaction ID:</p>
                            <p class="col-sm text-sm-end fw-500">-</p>
                        </div>
                        <div class="d-grid my-4">
                            <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#AddMoney_TransactionFail">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="AddMoney_TransactionSuccess" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                    <div class="modal-body mx-3">
                        <div class="modal-header">
                            <h4 class="modal-title">Responce Massage</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mt-4">
                                <svg width="50" height="50" viewBox="0 0 100 100" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M22.9167 39.5835H14.5834C11.1316 39.5835 8.33342 42.3817 8.33342 45.8335V83.3335C8.33342 86.7853 11.1316 89.5835 14.5834 89.5835H22.9167V39.5835Z"
                                        fill="#11B84E" />
                                    <path
                                        d="M56.25 47.9167C56.25 42.1637 60.9137 37.5 66.6667 37.5H81.25C87.003 37.5 91.6667 42.1637 91.6667 47.9167C91.6667 53.6696 87.003 58.3333 81.25 58.3333H66.6667C60.9137 58.3333 56.25 53.6696 56.25 47.9167Z"
                                        fill="#11B84E" />
                                    <path
                                        d="M54.1667 64.5832C54.1667 58.8302 58.8304 54.1665 64.5834 54.1665H79.1667C84.9197 54.1665 89.5834 58.8302 89.5834 64.5832C89.5834 70.3361 84.9197 74.9998 79.1667 74.9998H64.5834C58.8304 74.9998 54.1667 70.3361 54.1667 64.5832Z"
                                        fill="#11B84E" />
                                    <path
                                        d="M29.1669 40.0603C29.1669 38.3918 29.6677 36.7618 30.6046 35.3811L47.5435 10.4185C48.2778 9.33641 49.8158 9.19047 50.7405 10.1152L54.0958 13.4705C57.3475 16.7221 58.5512 21.4965 57.2298 25.9011L53.7502 37.4998H70.8334C76.5864 37.4998 81.2501 42.1635 81.2501 47.9165V85.4165C81.2501 87.7177 79.3846 89.5832 77.0834 89.5832H33.3334C31.0322 89.5832 29.1667 87.7177 29.1667 85.4165L29.1669 40.0603Z"
                                        fill="#11B84E" />
                                </svg>
                                <p class="col-sm text-success text-center text-8 mb-0 mb-sm-3">Success</p>
                            </div>
                            <div class="row">
                                <p class="col-sm text-muted mb-0 mb-sm-3">Transaction Amount:</p>
                                <p class="col-sm text-sm-end fw-500">155.00</p>
                            </div>
                            <div class="row">
                                <p class="col-sm text-muted mb-0 mb-sm-3">Transaction ID:</p>
                                <p class="col-sm text-sm-end fw-500">98989898</p>
                            </div>
                            <div class="d-grid my-4">
                                <button class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#AddMoney_TransactionSuccess">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Money Modal End -->

        <!-- Rate & Review
============================================= -->
        <div class="offcanvas offcanvas-bottom" id="RateReviewBottomOffcanvas">
            <div class="offcanvas-header">
                <h4 class="offcanvas-title">Rate & Review</h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <div class="d-flex align-items-center mb-2">
                    <img src="images/TardgoLogo.png" alt="TardgoLogo" width="50px">
                    <div class="mx-2">
                        <div class="text-5 text-dark fw-500">Tardgo</div>
                        <div class="text-3 text-dark fw-300">Reviews are public and include your account and device
                            info.</div>
                    </div>
                </div>
                <div class="rate" onclick="rateApp()">
                    <input type="radio" id="star5" name="rate" value="5" data-bs-dismiss="offcanvas" />
                    <label for="star5" title="text5">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" data-bs-dismiss="offcanvas" />
                    <label for="star4" title="text4">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text3">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text2">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text1">1 star</label>
                </div>
            </div>
        </div>
        <!-- Rate & Review end -->


        <!-- Script -->
        <script>
            $(function () {
                $("#header").load("Header.html");
                $("#footer").load("Footer.html");
            });
        </script>


</body>

</html>