<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section class="section bg-white shadow-md pt-4 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <i class="fas fa-lock"></i> </div>
                        <h4>100% Secure Payments</h4>
                        <p>Moving your card details to a much more secured place.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <i class="fas fa-thumbs-up"></i> </div>
                        <h4>Trust pay</h4>
                        <p>100% Payment Protection. Easy Return Policy.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <i class="fas fa-bullhorn"></i> </div>
                        <h4>Refer & Earn</h4>
                        <p>Invite a friend to sign up and earn up to ₹150.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <i class="far fa-life-ring"></i> </div>
                        <h4>24X7 Support</h4>
                        <p>We're here to help. Have a query and need help ? <a href="#">Click here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container mt-4">
        <div class="row g-4">
            <div class="col-md-3">
                <p>Payment</p>
                <ul class="payments-types">
                    <li>
                        <a href="#"><img src="images/payment/visa-icon.svg" width="47px" alt="visa"></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/payment/master-card-icon.svg" width="47px" alt="Master Card"></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/payment/paytm-icon.svg" width="47px" alt="Paytm"></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/payment/phonepe-logo-icon.svg" width="47px" alt="Phonepe"></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/payment/upi-payment-icon.svg" width="47px" alt="UPI Payment"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <p>Subscribe</p>
                <p>Please do not share your Paytm Wallet password, Credit/Debit card pin, other confidential information
                    with anyone even if he/she claims to be from Paytm. We advise our customers to completely ignore
                    such
                    communications & report to us at support@odmart.com. <span> <a href="#"> Read More</a></span></p>
            </div>
            <div class="col-md-3 d-flex align-items-md-end flex-column">
                <p>Keep in touch</p>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="https://m.facebook.com/tradgoindia" target="_blank"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a href="https://twitter.com/Tradgo2" target="_blank"><i
                                class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-youtube"><a href="https://www.youtube.com/@TradgoApp" target="_blank"><i
                                class="fab fa-youtube"></i></a></li>
                    <li class="social-icons-instagram"><a href="https://www.instagram.com/tradgo_app/"
                            target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-copyright">
            <ul class="nav justify-content-center">
                <li class="nav-item mb-2"> <a style="color: #252b33;" href="AboutUs.html">About Us</a> </li>
                <li class="nav-item mb-2"> <a style="color: #252b33;" href="Faq.html">Faq</a> </li>
                <li class="nav-item mb-2"> <a style="color: #252b33;" href="Contact.html">Contact</a> </li>
                <li class="nav-item mb-2"> <a style="color: #252b33;" href="RefundPolicy.html">Refund Policy</a> </li>
                <li class="nav-item mb-2"> <a style="color: #252b33;" href="TermsAndConditions.html">Terms &
                        Conditions</a>
                </li>
                <li class="nav-item mb-2"> <a style="color: #252b33;" href="PrivacyPolicy.html">Privacy Policy</a> </li>
            </ul>
            <p class="copyright-text">Copyright © 2019 <a href="#">Tradgo</a>. All Rights Reserved.</p>
        </div>
    </div>

    <!-- Back to Top
============================================= -->
    <a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i
            class="fa fa-chevron-up"></i></a>

</body>

</html>