<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="images/TardgoLogo.png" rel="icon" />
    <title>Tradgo Recharge & Bill Payment</title>
    <meta name="description" content="Tradgo Recharge & Bill Payment">

    <!-- Web Fonts
============================================= -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Stylesheet
============================================= -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/owl.carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="css/extra.css" />

    <!-- script
============================================= -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="js/theme.js"></script>
    <!-- <script src="js/extra.js"></script> -->
    <script src="js/RateReview.js"></script>
    <script src="vendor/bootstrap/js/getbootstrap.min.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <span class="ring">
            <span></span>
            <img src="images/TardgoLogo.png" alt="TardgoLogo">
        </span>
    </div>
    <!-- Preloader End -->

    <!-- Document Wrapper   
============================================= -->
    <div id="main-wrapper">

        <!-- Header
  ============================================= -->
        <header id="header"></header>
        <!-- Header end -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-sm navbar-light py-3"
                        style="box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.05) inset;">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="javascript:void(0)"></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#mynavbar">
                                <i class="fa fa-bars text-dark"></i>
                                <!-- <i class="fa fa-times text-dark"></i> -->
                            </button>
                            <div class="collapse navbar-collapse" id="mynavbar">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <a class="nav-link text-primary text-3 p-1 fw-500" href="SignIn.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-3 p-1 fw-500" href="javascript:void(0)">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-3 p-1 fw-500" href="javascript:void(0)">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-3 p-1 fw-500" href="javascript:void(0)">Download</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-3 p-1 fw-500" href="javascript:void(0)">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- <div class="d-flex align-items-center justify-content-center"></div> -->
                </div>
            </div>
        </div>

        <!-- <div class="mt-4"></div> -->

        <!-- Content
  ============================================= -->
        <div id="content">
            <div class="container">
                <div class="bg-white shadow-md rounded-7 p-4">
                    <div class="row align-items-center">
                        <div class="col-lg-7 HomeFormsImage p-5">
                            <img src="images/svg/HomeOtp.svg" alt="Sign In" class="my-auto"
                                style="width: 100%; max-height: 400px;">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <div class="row">
                                <div class="col-11 col-md-10 mx-auto">
                                    <div class="mb-3 d-flex align-items-center">
                                        <span class="bg-primary" style="height: 45px; width: 3px;"></span>
                                        <p class="text-7 fw-500 text-dark mb-0 mx-2">Two-Step Verification</p>
                                    </div>
                                    <p class="text-center"><img class="img-fluid" src="images/otp-icon.png"
                                            alt="verification"></p>
                                    <p class="text-muted text-3 text-center">Please enter the OTP (one time password) to
                                        verify your account. A Code has been sent to <span class="text-dark text-4">+91
                                            ******2179</span></p>
                                    <form id="HomeForgotPasswordOtpForm" class="form-border">
                                        <div class="row gx-3">
                                            <div class="col">
                                                <input type="text" class="form-control text-center text-6 px-0 py-2"
                                                    maxlength="1" autocomplete="off">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control text-center text-6 px-0 py-2"
                                                    maxlength="1" autocomplete="off">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control text-center text-6 px-0 py-2"
                                                    maxlength="1" autocomplete="off">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control text-center text-6 px-0 py-2"
                                                    maxlength="1" autocomplete="off">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control text-center text-6 px-0 py-2"
                                                    maxlength="1" autocomplete="off">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control text-center text-6 px-0 py-2"
                                                    maxlength="1" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="text-danger text-2">Invalid OTP. Please verify and try again.</div>
                                    </form>
                                    <div class="d-grid my-4" data-bs-toggle="modal"
                                        data-bs-target="#RegistrationSuccessfulModal">
                                        <button class="btn btn-primary">Verify</button>
                                    </div>
                                    <p class="text-2 text-center">Not received your code?
                                        <a class="btn-link" href="#">Resend code</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content end -->

        <!-- Footer
  ============================================= -->
        <footer id="footer"></footer>
        <!-- Footer end -->

        <!-- Back to Top
  ============================================= -->
        <a id="back-to-top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

        <div class="modal" id="RegistrationSuccessfulModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Responce Massage</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">Registration successful. You can now log in to your account.</div>
                    <div class="modal-footer">
                        <div data-bs-toggle="modal" data-bs-target="PasswordChangedSuccessfullModal">
                            <button type="button" class="btn border-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                        <!-- <a href="index-2.html"> -->
                        <a href="SignIn.html">
                            <div data-bs-toggle="modal" data-bs-target="PasswordChangedSuccessfullModal">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Continue</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Script -->
    <script>
        $(function () {
            $("#header").load("Header.html");
            $("#footer").load("Footer.html");
        });
    </script>

</body>

</html>